ANTHROPIC_API_KEY=PASTE_ROTATED_ANTHROPIC_KEY_HERE
GEMINI_API_KEY=PASTE_ROTATED_GEMINI_KEY_HERE
RESEND_API_KEY=PASTE_RESEND_API_KEY_HERE
ADMIN_CODE=PASTE_ADMIN_CODE_HERE
FEEDBACK_TO_EMAIL=feedback@omair.uk
FEEDBACK_FROM_EMAIL=Revision Feedback <feedback@omair.uk>
